
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<link href="~/css/style-starter.css" rel="stylesheet" />
<a href="~/fonts/fontawesome-webfont.eot"></a>
<a href="~/fonts/fontawesome-webfont.ttf"></a>
<a href="~/fonts/fontawesome-webfont.woff"></a>
<a href="~/fonts/fontawesome-webfont.woff2"></a>
<a href="~/fonts/FontAwesome.otf"></a>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Qualified &amp; <br> professional Workers.</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="/Home/About">Read More</a>
                                        <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>How We Works</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Best And Good Pricing.</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="Home/About">Read More</a>
                                        <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>How We Works</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>We are qualified &amp; <br> professional</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="about.html">Read More</a>
                                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>How We Works</h6>
                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                        <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://player.vimeo.com/video/425349644" allow="autoplay; fullscreen"
                                                    allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Project done .</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="/Home/About">Read More</a>
                                        <a href="#small-dialog3" class="popup-with-zoom-anim play-view">
                                            <span class="video-play-icon">
                                                <span class="fa fa-play"></span>
                                            </span>
                                            <h6>How We Works</h6>

                                        </a>
                                        <!-- dialog itself, mfp-hide class is required to make dialog hidden --> 
                                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                            <iframe src="https://www.youtube.com/watch?v=YAaKVAST3w4" allow="autoplay; fullscreen"
        allowfullscreen=""></iframe>
                                            @*<video width="560" height="315" controls>
                                                <source src="~/Videos/39762558.mp4" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //banner-slider-->
<!-- //bottom-grids -->
<div class="w3l-bottom-grids">
    <div class="container-fluid px-0">
        <div class="bottomhny-grids-sec">
            <div class="bottomhny-1">
                <div class="bottomhny-2check-img">
                    @*<h4>Crafting homes, structures, eco-friendly spaces, diverse projects</h4>*@
                </div>
            </div>
            <div class="bottomhny-1">
                <div class="bottomhny-3check-img">
                    @*<h4>All Type Of Construction Works.</h4>*@
                </div>
            </div>
            @*///check only*@
            <div class="bottomhny-1">
                <div class="bottomhny-1-img">
                    @*<h4>All Type Of Construction Works.</h4>*@
                </div>
            </div>
            @*//*@
            <!--//real code-->
            @*<div class="bottomhny-1 bottomhny-1-img">
                <div class="bottomhny-gd-ingf">

                </div>
            </div>*@
            <!--//-->

        </div>
    </div>
</div>
<!-- //bottom-grids -->
<!-- /content-3-->
<section class="w3l-content-3">
    <!-- /content-3-main-->
    <div class="content-3-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/images/yourvision.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-5">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Who We Are</h6>
                        <h3 class="hny-title">
                            We have 15 years
                            of experience in this field.
                        </h3>
                    </div>
                    <p class="mt-3">
                        "Explore construction excellence with WhiteHat Engineering and Construction Pvt Ltd.
                        Our team not only delivers budget-friendly solutions but also excels in the art of 
                        decorative works, ensuring your project stands out with both quality and style"
                    </p>
                    <a href="/Home/About" class="btn btn-style btn-primary mt-md-5 mt-4">Read More</a>
                </div>
            </div>
        </div>
</section>
<!-- //content-3-->
<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Categories</h6>
                <h3 class="hny-title"><span>WhiteHat</span> Services.</h3>
                <p class="fea-para">"Budget-friendly style for every space, including UPVC doors, roofs, parketing,
                and comprehensive construction services.</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>WhiteHat</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Door&Windows</a></h5>
                            <p>All Kind of Upvc,Glass&Aluminuim Doors you are looking for.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>RB</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    All Construction
                                </a>
                            </h5>
                            <p>Make your Home,Office and Open spaces Beautiful.

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>WhiteHat</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Parketing
                                </a>
                            </h5>
                            <p>Delivery and Fitting safely from our trained staffs.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>WhiteHat</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Renovation
                                </a>
                            </h5>
                            <p>Update your old stuffs as like brand new.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--//features-4 -->
<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids">
                <div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
                    <div class="title-content px-lg-5">
                        <h6 class="sub-title">Our Organization</h6>
                        <h3 class="hny-title two">WhiteHat Engineering Works done History.</h3>
                        <p class="mt-3 mb-lg-5 px-lg-5 counter-para">
                            With experience in big project like viewtower in Ktm,Dharan and kanyam.
                        </p>
                    </div>
                    <div class="skill_info mt-5 pt-lg-4">
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">100</p>
                                    <h4>Build Homes</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">100</p>
                                    <h4>Works&staff</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">15</p>
                                    <h4>Projects</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">100</p>
                                    <h4>Get awards</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--//////////////////////////////////////////Pricing div-->
<!-- //specification-6-->
<!--<section class="w3l-pricing">
    <div class="py-5" id="pricing">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-5">
                <h6 class="sub-title">Best Packages</h6>
                <h3 class="hny-title">Our Pricing Plans</h3>
                <p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
            </div>
            <div class="row t-in">
                <div class="col-lg-4 col-md-6 price-main-info">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Silver Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>35

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary"> Go Basic</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-md-0 mt-4">
                    <div class="price-inner card box-shadow active">

                        <div class="card-body">
                            <label class="price-label">Recommended</label>
                            <h4 class="text-uppercase text-center mb-3">Platinum Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>69

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="read-more">
                                    <a href="contact.html" class="btn btn-style btn-primary"> Go Standard</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-lg-0 mt-4">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Gold Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>39
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary"> Go Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

////pricing div///////////////////-->
<!-- middle -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                <h6 class="sub-title">Call Us</h6>
                <h3 class="hny-title two mb-2">Imagine Your Home With Best and Comfort</h3>
                <p>
                    Questions? Give us a call today at <a href="tel:+(977)9851198940">
                        +(977)
                       9808311151
                    </a>
                </p>

            </div>
            <a href="/Home/Services" class="btn btn-white mt-md-5 mt-4 mr-sm-2">Our Services</a>
            <a href="/Home/Contact" class="btn btn-white-active btn-primary mt-md-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>
<!-- //middle -->
<!--/testimonials-->
<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="title-content text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Client Testimonials</h6>
                <h3 class="hny-title">100% approved by customers</h3>

            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/images/customer.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">

                                    I want to express my utmost satisfaction with your exceptional work and best design solutions.
                                    Your commitment to quality and innovation is truly commendable.
                                    Please continue to deliver such outstanding results; it's a pleasure being a customer of WhiteHat Engineering.
                                    I look forward to more collaborations and witnessing the excellence you consistently bring to the table.
                                </div>
                                <div class="name">- Rohit Sainju</div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/images/kpoli.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    I want to express my utmost satisfaction with your exceptional work and best design solutions.
                                    Your commitment to quality and innovation is truly commendable.
                                    Please continue to deliver such outstanding results; it's a pleasure being a customer of WhiteHat Engineering.
                                    I look forward to more collaborations and witnessing the excellence you consistently bring to the table.
                                </div>
                                <div class="name">- KP OLI</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/images/team1.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    I want to express my utmost satisfaction with your exceptional work and best design solutions.
                                    Your commitment to quality and innovation is truly commendable.
                                    Please continue to deliver such outstanding results; it's a pleasure being a customer of WhiteHat Engineering.
                                    I look forward to more collaborations and witnessing the excellence you consistently bring to the table.
                                </div>
                                <div class="name">- Kiss Kington</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/images/modi.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    I want to express my utmost satisfaction with your exceptional work and best design solutions.
                                    Your commitment to quality and innovation is truly commendable.
                                    Please continue to deliver such outstanding results; it's a pleasure being a customer of WhiteHat Engineering.
                                    I look forward to more collaborations and witnessing the excellence you consistently bring to the table.
                                </div>
                                <div class="name">- Narendra Modi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//testimonials-->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!--//-->
<script src="assets/js/theme-change.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
    $(document).ready(function () {
        $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
